<header class="header">
  {{branded-text-canvas
    id="header"
    text="uchealth alerts"
    textX=75
    textY=43
  }}
</header>
{{yield}}
<footer>
  <div>Version 3.0.0.0 Developed by UCHealth's eBusiness Department</div>
</footer>
